/* AuthorsPage.css */

/* Container for the authors page */
.authors-container {
  padding-top: 20px;
  min-height: 600px;
}

/* Styles for each author card */
.card {
  border: 1px solid #ddd;
  border-radius: 2px;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

/* Styles for the author image */
.author-card-img {
  width: 100%;
  height: auto;
  
  object-fit: cover;
}

/* Styles for author initial placeholder */
.author-initial {
  width: 100px; /* Set fixed width for the initial */
  height: 100px; /* Set fixed height for the initial */
  border-radius: 50%; /* Make the initial circular */
  background-color: #007bff; /* Set background color for the initial */
  color: white; /* Set text color for the initial */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

/* Center the image vertically in its column */
.col-md-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the card body */
.card-body {
  display: flex;
  flex: 1; /* Take remaining space beside the image */
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

/* Style for the card title */
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px; /* Increase margin for spacing */
}

/* Style for the card text */
.card-text {
  margin-bottom: 5px;
  flex-grow: 1; /* Take remaining space in the column */
}

/* Styles for the edit and delete icons */
.icons-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.edit-icon, .delete-icon {
  cursor: pointer;
  font-size: 1.2rem;
}

.edit-icon {
  color: #6c757d;
}

.delete-icon {
  color: #dc3545;
}

/* Floating action button styles */
.fab {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fab-icon {
  font-size: 1.5rem;
}

.footer {
  background-color: #3900B3;
  padding: 50px 0 50px 0;
  position: relative;
  text-align: center;
  bottom: 0;
  margin-top: 120px;
}


/* Media queries for responsive design */
@media (min-width: 768px) {
  .author-card-img {
    height: 100%;
  }
}
